# Зависимости для Telegram-бота (tg_bot)
aiogram==3.17.0
aiohttp==3.11.10
python-dotenv==1.0.1

# Для работы с Django API (если бот запускается внутри проекта, зависимости уже установлены)
# Эти зависимости уже есть в requirements.txt, но перечисляем для ясности
requests==2.32.3

# Для логирования (опционально)
colorlog==6.8.2

# Для работы с Redis (если используется RedisStorage)
redis==5.0.7